extends layout

block profile
  div.profile
    p.icon#person #[i.bi.bi-person] Hi, #{_user.username}
      span.nav 
        i 
          a(href="/home" + "/profile") View profile
        i 
          a(href="/user/logout") Logout
    //- p.icon #[i.bi.bi-person] Hi,
block content
  script.
    var user = !{JSON.stringify(_user)};
    var _table = !{JSON.stringify(_table)};

  section.add-record
    div#title_edit_form(style="display:none")
      h3#title_edit_form_close #[i.bi.bi-x-lg]
      p Edit Title
      div
        input#title_edit_input
      button#title_edit_btn OK

    form#record-form(action="", method="post", style="display:none", onSubmit="document.querySelector('#record-btn').textContent = 'Recording...'") 
      input#record_id(type="hidden" name="id")
      input#table_id(type="hidden" name="table_id" value=_table._id)
      h3#record-close #[i.bi.bi-x-lg]
      p Record what You meant Forget!
      div.input-general
        div 
          textarea#detail(name="detail", cols="30", rows="10" placeholder="Make sure you put all the details...." required) 
        div 
          input#record_subject(type="text" name='subject' placeholder="Subject" required) 
          input#record_date(type="date" name='date' required)   
          input#record_time(type="time" name='time' required)
      button#record-btn(type="submit") Record
  page
    side 
      div.sidebar#title_list
        div.creation
          button#new_record_table #[i.bi.bi-plus-lg]
        each table in _record_tables
          button.bar_item(table_id=table._id, title=table.title) !{table.title}

    main
      section.record-list
        div.title 
          p #{_table._title} #[i.bi.bi-pencil]

        div.creation
          button.refresh(onclick="window.location.reload()") Refresh #[i.bi.bi-arrow-clockwise]

        div.table
          div.table-th
             table(border="0")
              th Date
              th Subject
              th Description
              th Time

          div.content
            table(border="0") 
              each record in _records 
                tr
                  td !{record.date}
                  td !{record.subject}
                  td 
                    pre !{record.description}
                  td !{record.time}
              else 
                tr
                  td.nothing Don`t Keep staring at me! 
                    br 
                    i.bi.bi-emoji-expressionless
      section.detail


  script(src="/javascripts/viewport.js") 
  <!-- script(src="/javascripts/websocket.js") -->
  script(src="/javascripts/record_table.js")
