extends layout

block profile
  div.profile
    p.icon#person #[i.bi.bi-person] Hi, #{_user.username}
      span.nav 
        i 
          a(href="/home" + "/profile") View profile
        i 
          a(href="/user/logout") Logout
    //- p.icon #[i.bi.bi-person] Hi,
block content
  section.add-record
    form#record-form(action="", method="post" onSubmit="document.querySelector('#record-btn').textContent = 'Recording...'") 
      input#record_id(type="hidden" name="id")
      h3#record-close #[i.bi.bi-x-lg]
      p Record what You meant Forget!
      div.input-general
        div 
          textarea#detail(name="detail", cols="30", rows="10" placeholder="Make sure you put all the details...." required) 
        div 
          input#record_title(type="text" name='title' placeholder="Title" required) 
          input#record_date(type="date" name='date' required)   
          input#record_time(type="time" name='time' required)
      button#record-btn(type="submit") Record
  page
    side 
      div.sidebar
        div.creation
          button#new_record_table #[i.bi.bi-plus-lg]
        button.bar_item(title="Memory Title") Memory Title
        button.bar_item(title="Code Guide") Code Guide
        button.bar_item(title="Computer Science") Computer Science
        each table in _record_tables
          button.bar_item(title=table.title) !{table.title}
    main
      section.record-list
        div.title 
          p #{_user.record_title} #[i.bi.bi-pencil]

        div.creation
          button.refresh(onclick="window.location.reload()") Refresh #[i.bi.bi-arrow-clockwise]
          button.new-record New record #[i.bi.bi-plus-lg]

        div.table
          div.table-th
             table(border="0")
              th Date
              th Subject
              th Description
              th Time

          div.content
            table(border="0") 
              each record in _records 
                tr
                  td !{record.date}
                  td !{record.subject}
                  td 
                    pre !{record.description}
                    div
                      button.edit-record(type='button', record=record) #[i.bi.bi-pencil]
                    div 
                      form(action="", method="post") 
                        input(type="hidden", name="record_name" value=record._id)
                        button#delete(type="submit") #[i.bi.bi-trash]
                  td !{record.time}
              else 
                tr
                  td.nothing Don`t Keep staring at me! 
                    br 
                    i.bi.bi-emoji-expressionless
      section.detail

  script.
    var user = !{JSON.stringify(_user)};
  script(src="/javascripts/viewport.js") 
  script(src="/javascripts/websocket.js")
  script(src="/javascripts/record.js")
  script(src="/javascripts/record_table.js")
